*.pyc
.idea
.ipynb_checkpoints
*.bak
*.swp
scratch.ipynb
Data
health_fitness_dataset.csv
C:\Code\week_5_mid_project\Health-Fitness_project\Data
athlete_events_data_alt_2.csv
fitness_tracker_dataset_alt_1.csv
health_fitness_dataset_primary.csv
EDA_HFD.ipynb